[submodule "rain-protocol"]
	path = rain-protocol
	url = https://github.com/rainprotocol/rain-protocol.git
	branch = develop
[submodule "rain.orderbook"]
	path = rain.orderbook
	url = https://github.com/rainprotocol/rain.orderbook.git
